@import url('overrides.css');
@import url('userform.mobile.css');

#progressbar,
.progressbar {
	width: 75%;
	height: 30px;
}

#mapcanvas {
	/* FIXME */
	height: 300px;
}

/*
a:link, a:visited {
	color: red;
}*/
