@import url('overrides.css');
@import url('minimap.css');

#progressbar,
.progressbar {
	display: none !important;
}

#result,
.result {
	font-size: 16px;
	font-weight: bold;
	height: 46px;
}

#linkbar, #loggedinas {
	font-size: 100%;
}

#cancel, #emsub, #usub {}

#crumbbody {
	height: 150px;
}
