@import url('overrides.css');

#progressbar {
	width: 250px;
}

#linkbar, #result, #loggedinas {
	font-size: 150%;
}

#cancel, #emsub, #usub {}

a:link, a:visited {
	text-decoration: none;
	color: red;
}
