RewriteEngine On
RewriteRule ^(ua|test|env|dateparse|sess)$ /cgi-bin/t/$1.cgi

RewriteRule ^u$ /cgi-bin/useractions.cgi
RewriteRule ^(pwreset|login|verify|signup|reset|logout)$ /cgi-bin/userforms/$1.cgi

RewriteRule ^c$ /cgi-bin/crumbactions.cgi

RewriteRule ^m$ /cgi-bin/index.mobile.cgi
