RewriteEngine On

RewriteRule ^$ /m

RewriteRule ^(ua|test|env|dateparse|sess|location)$ /cgi-bin/t/$1.cgi

RewriteRule ^u$ /cgi-bin/useractions.cgi
RewriteRule ^(pwreset|login|verify|signup|reset|logout)$ /cgi-bin/userforms/$1.cgi

RewriteRule ^c$ /cgi-bin/crumbactions.cgi

RewriteRule ^m$ /cgi-bin/index.mobile.cgi

RewriteRule ^(post)$ /cgi-bin/postforms/$1.cgi

ErrorDocument 500 /pages/500.html
ErrorDocument 404 /pages/500.html
